# 第一问

\begin{gathered}
14=\mu+\alpha_1+\beta_1+e_{111} \\
10=\mu+\alpha_1+\beta_1+e_{112} \\
11=\mu+\alpha_1+\beta_2+e_{121} \\
11=\mu+\alpha_1+\beta_2+e_{122} \\
13=\mu+\alpha_1+\beta_3+e_{131} \\
19=\mu+\alpha_1+\beta_3+e_{132} \\
10=\mu+\alpha_1+\beta_4+e_{141} \\
12=\mu+\alpha_1+\beta_4+e_{142} \\
9=\mu+\alpha_2+\beta_1+e_{211} \\
7=\mu+\alpha_2+\beta_1+e_{212} \\
10=\mu+\alpha_2+\beta_2+e_{221} \\
8=\mu+\alpha_2+\beta_2+e_{222} \\
7=\mu+\alpha_2+\beta_3+e_{231} \\
11=\mu+\alpha_2+\beta_3+e_{232} \\
6=\mu+\alpha_2+\beta_4+e_{241} \\
10=\mu+\alpha_2+\beta_4+e_{242} \\

5=\mu+\alpha_3+\beta_1+e_{311} \\
11=\mu+\alpha_3+\beta_1+e_{312} \\
13=\mu+\alpha_3+\beta_2+e_{321} \\
14=\mu+\alpha_3+\beta_2+e_{322} \\
12=\mu+\alpha_3+\beta_3+e_{331} \\
13=\mu+\alpha_3+\beta_3+e_{332} \\
14=\mu+\alpha_3+\beta_4+e_{341} \\
10=\mu+\alpha_3+\beta_4+e_{342} \\
e_{ijk}\sim N(0,\sigma^2),i=1,2,3,j=1,2,3,4,k=1,2
\end{gathered}

# 第二问和第三问

## 源代码：

In [8]:
import pandas as pd
import statsmodels.formula.api as smf
from statsmodels.stats.anova import anova_lm
df=pd.read_csv("6-9.txt",sep='\s+',names=['potency','temp','value'])
df

    potency  temp  value
0         1     1     14
1         1     1     10
2         1     2     11
3         1     2     11
4         1     3     13
5         1     3     19
6         1     4     10
7         1     4     12
8         2     1      9
9         2     1      7
10        2     2     10
11        2     2      8
12        2     3      7
13        2     3     11
14        2     4      6
15        2     4     10
16        3     1      5
17        3     1     11
18        3     2     13
19        3     2     14
20        3     3     12
21        3     3     13
22        3     4     14
23        3     4     10

In [9]:
model=smf.ols("value~C(potency)+C(temp)",data=df).fit()
anova_table=anova_lm(model,type=2)
pd.DataFrame(anova_table)

              df      sum_sq    mean_sq         F    PR(>F)
C(potency)   2.0   69.333333  34.666667  5.489736  0.013761
C(temp)      3.0   32.333333  10.777778  1.706745  0.201340
Residual    18.0  113.666667   6.314815       NaN       NaN

## 统计分析：

方差分析表如上。浓度的p值为0.013761\<0.05，说明在显著性水平$\alpha$=0.05下浓度对产品得率的影响有显著差异。

温度的p值为0.201340 \> 0.05，说明在显著性水平$\alpha$=0.05下温度对产品得率的影响无显著差异。